styles
style="color:teal;"
style="line-height: 0.25;"
style="line-height: 0.5;"
<style>
  th {
    color: blue;
  }
</style>
<img src="http://vignette2.wikia.nocookie.net/vocaloid/images/a/ac/Magical_Mirai_2014_album.jpg/revision/latest?cb=20140705142542" alt="Magical_Mirai_2014_album" height="400px" width="400px"</img>
<style>
  #miku {
  background-image: url("http://vignette2.wikia.nocookie.net/vocaloid/images/a/ac/Magical_Mirai_2014_album.jpg/revision/latest?cb=20140705142542");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px 300px;
  height: 390px;
  }
</style>
<link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
font-family: 'Audiowide', cursive;
<style>
  table{
    font-family: 'Audiowide', cursive;
  }
  th {
    color: blue;
  }
  td{
    font-style: italic;
  }
  #1{
    background-color: rgb(8, 243, 236)
  }
  #2{
    background-color: rgb(0, 201, 195)
  }
  #3{
    : rgb(8, 243, 236)
  }
</style>
