#barb{
  color: grey;
  font-family: 'Ceviche One', cursive;
  font-size: 50px;
}
#address{
    font-family: fantasy;
    color: gray;
}
<a href="Restaurant siteV5.html"> Home</a>
<a href="MenuV5.html"> Menu</a>
<a href="Contact UsV5.html"> Contact Us</a>
#nav{
  font-family:  "Ceviche One", cursive;
}
