styles
style="color:teal;"
style="line-height: 0.25;"
style="line-height: 0.5;"
<style>
  th {
    color: blue;
  }
</style>
<img src="http://vignette2.wikia.nocookie.net/vocaloid/images/a/ac/Magical_Mirai_2014_album.jpg/revision/latest?cb=20140705142542" alt="Magical_Mirai_2014_album" height="400px" width="400px"</img>
<style>
  #miku {
  background-image: url("http://vignette2.wikia.nocookie.net/vocaloid/images/a/ac/Magical_Mirai_2014_album.jpg/revision/latest?cb=20140705142542");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px 400px;
  height: 390px;
  }
</style>
<link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
font-family: 'Audiowide', cursive;
