#nav{
  background-color: black;
  font-family: sans-serif;
}
#barb{
  color: grey;
  font-family: 'Ceviche One', cursive;
}
#address{
    font-family: fantasy;
    color: gray;
}
a:visited {
  color: green;
}
a:hover {
  font-weight: bold;
}
a:active {
  text-decoration: none;
}
