#barb{
  color: grey;
  font-family: 'Ceviche One', cursive;
  font-size: 50px;
}
#address{
    font-family: fantasy;
    color: gray;
}
<a href="Restaurant siteV6.html"> Home</a>
<a href="MenuV6.html"> Menu</a>
<a href="Contact UsV6.html"> Contact Us</a>
#nav{
  font-family:  "Ceviche One", cursive;
}
 style="width:400px; height:150px;

 <link href="https://fonts.googleapis.com/css?family=Ceviche+One" rel="stylesheet">
